html
{
    width: 100%;
}
a {
    text-decoration: none;
    color: rgb(255, 0, 179);
  }
  
  .allMovieListl {
    background-image: url("https://images.unsplash.com/photo-1542887800-faca0261c9e1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=727&q=80");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
  }
  
  .MovBg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  

  .cards {
    width: 80%;
    margin: 0 auto;
  }
  
  .image_box img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
  }
  
  .details button {
    margin: 30px auto;
  }
  
  @media screen and (max-width: 960px) {
    .MovBg {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .details h1:nth-child(1) {
      font-size: 0.8rem;
    }
  
    .details p:nth-child(2) {
      font-size: 0.6rem;
    }
  }
  
  @media screen and (max-width: 660px) {
    .cards {
      width: 85%;
    }
  
    .image_box img {
      height: 350px;
    }
  
    .details h1:nth-child(1) {
      font-size: 0.8rem;
    }
  
    .details p:nth-child(2) {
      font-size: 0.6rem;
    }
  }
  
  @media screen and (max-width: 610px) {
    .MovBg {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .cards {
      width: 95%;
    }
  
    .image_box img {
      height: 300px;
    }
  }
  
  @media screen and (max-width: 560px) {
    .cards {
      margin: 0 auto;
    }
  
    .image_box img {
      height: 250px;
    }
  
    .details h1:nth-child(1) {
      font-size: 0.8rem;
    }
  
    .details p:nth-child(2) {
      font-size: 0.6rem;
    }
  }
  
  @media screen and (max-width: 420px) {
    .cards {
      width: 95%;
    }
  
    .image_box img {
      height: 200px;
    }
  }
  
  @media screen and (max-width: 300px) {
    .image_box img {
      width: 170px;
      height: 300px;
    }
  
    section {
      margin-bottom: 30%;
    }
  
    #searchBar {
      width: 120px;
    }
  }