.theater
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase; 
  margin: 10px;
  gap: 20px
}
.seat {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightblue;
    border-radius: 11px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
  }


 .seats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  
  .booked {
    background-color: gray;
    cursor: not-allowed;
  }
  
  .selected {
    background-color: orange;
    color: red;
  }

  span
  {
  
    font-weight: bold;
    border-radius: 5px;
     font-family:'Times New Roman', Times, serif;
    font-size: medium;
  }
  .booking-info
  {
    margin: 10px;
    text-align: center;
    line-height: 30px;
  }

  .chkout
  {
    background-color: rgb(50, 196, 118);
    margin: 15px;
    margin-right: 40px;
  }